body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #FFCC99;
    background-repeat: no-repeat
}
.alert {
    margin: 10px;
    display: none;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}


.text-sm {
    font-size: 14px !important
}
#reg-info {
    padding-top: 50px;
}
::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin: 5px;
    width: 98%;
    box-sizing: border-box;
    color: #272833;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #FF0000;
    outline-width: 0
}
#fname, #lname {
    margin-left: -10px;
    width: 105%;
}
button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #FF0000;
    width: 150px;
    color: #fff;
    border-radius: 2px
}
.btn {
    margin-top: 30px;
}
.btn-blue:hover {
    background-color: #FFCC99;
    color: #FF0000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #FF0000;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
}